body {
    background-image: url("images/dark_geometric.png");
    background-color: #68b7b9
    margin: 500px 0px 0px 00px;
    padding: 10px 0px 0px 80px;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}




.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\Users\stagiaire\Documents\projet avatar\images\hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

  }




  .content {
    float: left;                  /* Add this */
    width: 650px;
    height: 500px;
    background-color:#235654;
 
 
  }



  .page {
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 1em;
    padding: 20;
    padding-right: 30px;
    margin-top:14px;
    background-color:#232323;
   




}
    
    .imgHolder{
        display: block;
        background: #232323;
      }
      .item-fade{
        vertical-align: top;
        opacity: 1;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
      }
      .item-fade:hover{
        opacity: 0.2;
      }
  
  }



h1 {
    color: #ffff;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}


    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #e7ecf1;
}
   



    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .active {
        background-color: #1a2364;
    }

    .footer {
        position: relative; 
        left: 0;
        bottom: 0;
        width: 100%;
        background-color #1a2364;
        color: white;
        text-align: center;
    } 
    




/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(53, 56, 53);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #1e241e;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


  