<<<<<<< HEAD
body {
    background-color: #68b7b9
    margin: 500px 0px 0px 00px;
    padding: 10px 0px 0px 80px;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:\Users\stagiaire\Documents\projet avatar\images\hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

  }

  .content {
    float: left;                  /* Add this */
    width: 650px;
    height: 500px;
    background-color: rgb(169, 208, 209);
  }

  .page {
    width: 900px;
    margin: 0 auto;
    border: 1px solid red;  /* Add this */
  }


h1 {
    color: w#ccccff;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}


    p {
        font-family: verdana;
        font-size: 14px;
}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
    
    .active {
        background-color: #4CAF50;
    }


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgb(53, 56, 53);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #1e241e;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


=======
body {
    background-color: #a2c3c0;
}

    h1 {
        color: w#ccccff;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
}

        h2 {
            color: w#ccccff;
            text-align: justified;
           
        }

        p {
            font-family: verdana;
            font-size: 14px;
}

  }
>>>>>>> e8ea3b2605f2d06470dac74ebd11163882ff0405
  